{% extends "layout.html" %}
{% block body %}
<body>
    <div class="jumbotron text-light col-11 col-sm-9 col-md-6 col-lg-4 bg-dark mx-auto mt-1">
        <div class="text-center">
            <h1 class="display-4 font-weight-light">Create</h1>
        </div>
        <div class="container text-center">
            <form action="" method="post">
                <input class="form-control mb-1" type="text" placeholder="Username" name="user" value="{{user.user or ''}}" autofocus required >
                <input class="form-control mb-1" type="text" placeholder="Name" name="name" value="{{user.name or ''}}" required >                
                <input class="form-control mb-1" type="password" placeholder="Password" name="password" required >
                <input class="form-control mb-1" type="password" placeholder="Confirm password" name="confirm_password" required >
                <input class="form-control mb-1" type="email" placeholder="Email" name="email" value="{{user.email or ''}}" required>
                <input class="form-control mb-1" type="date" name="birth" value="{{user.birth or ''}}" required>
                <button class="btn btn-success w-100">Submit</button>
            </form>
        </div>
    </div>
</body>
{% endblock  %}