{% extends "layout.html" %}
{% block body %}
<body>
    <div class="jumbotron text-light col-6 bg-dark mx-auto">
        <div class="text-center">
            <h1 class="display-4 font-weight-light">Cadastrar</h1>
        </div>
        <div class="container col-8 text-center">
            <form action="/cadastrar" method="post">
                <input class="form-control mb-1" type="text" placeholder="Username" name="user" value={{user.user or ""}} >
                <input class="form-control mb-1" type="password" placeholder="Password" name="password">
                <input class="form-control mb-1" type="password" placeholder="Confirm password" name="valid_pass">
                <input class="form-control mb-1" type="email" placeholder="Email" name="email" value="{{user.email or ""}}">
                <input class="form-control mb-1" type="date" placeholder="Nascimento" name="nascimento" value="{{user.nascimento or ""}}">
                <button class="btn btn-success w-100">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
{% endblock  %}