{% extends "layout.html" %}
{% block body %}
<body>
    <div class="jumbotron text-light col-6 bg-dark mx-auto">
        <div class="text-center">
            <h1 class="display-4 font-weight-light">Editar</h1>
        </div>
        <div class="container col-8 text-center">
            <form action="/usuarios/editar/{{user.user}}" method="POST">
                <input class="form-control mb-1" type="text" placeholder="Username" name="user" value="{{user.user}}">
                <input class="form-control mb-1" type="password" disabled placeholder="Password" name="password" value="{{user.password}}">
                <input class="form-control mb-1" type="email" disabled placeholder="Email" name="email" value="{{user.email}}">
                <input class="form-control mb-1" type="date" placeholder="Nascimento" name="nascimento" value="{{user.nascimento}}">
                <button class="btn btn-success w-100">Editar</button>
            </form>
        </div>
    </div>
</body>
{% endblock  %}