<!doctype html>
<head>
	<title>Hello Flask</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<style>
		body {
			padding: 10px 20px ;
			background-color: #252525;
		}
		.bg-dark {
			background-color: #363636 !important;
		}
	</style>
</head>
<div class="container col-6 py-2 px-0">
	{% if session['logged_in'] %}
		<a class="btn btn-dark" href="/">Home</a>
		<a class="btn btn-dark" href="/usuarios">Usuarios</a>
		<a class="btn btn-dark" href="/cadastrar">Cadastrar</a>
		<a class="btn btn-dark float-right text-capitalize" href="/logout">[{{session['user']}}] Sair</a>
	{% endif %}
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
			<div class="alert alert-{{category}} col-4 mx-auto" role="alert">
				{{message}}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}
{% block body %}{% endblock %}