{% extends "layout.html" %}
{% block body %}
<body>
    <div class="jumbotron text-light col-4 bg-dark mx-auto my-4">
        <div class="text-center">
            <h1 class="display-4 font-weight-light">Login</h1>
        </div>
        <div class="container col-12 text-center">
            <form action="/" method="post">
                <input class="form-control mb-1" type="text" placeholder="Username" name="user" value={{user or ''}}>
                <input class="form-control mb-1" type="password" placeholder="Password" name="password">
                <button class="btn btn-primary w-100">Entrar</button>
            </form>
            <p class="text-left mt-4">Ou <a href="/cadastrar">cadastre-se</a> aqui!</p>
        </div>
    </div>
</body>
{% endblock %}