<!doctype html>
<head>
	<title>Energysaver</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/logo_mobile.jpeg">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link href="/css/dashboard.css" rel="stylesheet">	
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

</head>
<!-- Menu inicial -->
<nav class="navbar navbar-expand-sm navbar-dark dark sticky-top flex-md-nowrap p-2">
	<a class=" mr-0" href="{{url_for('user',user_id=session['id'])}}">
		<img src="/img/logo_mobile.jpeg" width="40" height="40" alt="Logo">
	</a>
	{% if session['logged_in'] %}
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size:20px">
		<ul class="navbar-nav ml-auto mr-4">
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('user',user_id=session['id'])}}">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled d-none" href="/">menu-item</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				User
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item text-capitalize" href="/users/user/{{session['id']}}">{{session['user']}}</a>
				<a class="dropdown-item disabled d-none" href="#">Places</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{url_for('sensors',user_id=session['id'])}}">Sensors</a>
				<a class="dropdown-item" href="{{url_for('create_sensor')}}">Create</a>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('logout')}}">Logout</a>
		</li>
		</ul>
	</div>
	{% endif %}
	{% if session['is_admin'] %}
		<ul class="navbar-nav ml-auto mr-4">
			<li class="nav-item">
				<a class="nav-link" href="/admin/logout">Logout</a>
			</li>
		</ul>
	{% endif %}
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
			{% if category == 'danger' %}
				{% if 'not confirmed yet' in message %}
				<div class="alert alert-{{category}} mx-auto col-11 col-sm-9 col-md-6 col-lg-4 mt-1 mb-0 text-center" role="alert">
					<i class="fa fa-lg fa-exclamation-triangle"></i> {{message}}
					<a href="/users/user/confirm/{{session['id']}}" class="btn btn-sm btn-primary">Confirm here</a>
				</div>
				{% else %}
					<div class="alert alert-{{category}} mx-auto col-11 col-sm-9 col-md-6 col-lg-4 mt-1 mb-0 text-center" role="alert">
						<i class="fa fa-lg fa-exclamation-triangle"></i> {{message}}
					</div>
				{% endif %}
			{% else %}
			<div class="alert alert-{{category}} mx-auto col-11 col-sm-9 col-md-6 col-lg-4 mt-1 mb-0 text-center" role="alert">
				<i class="fa fa-lg fa-info-circle"></i> {{message}}
			</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endwith %}
{% block body %}{% endblock %}

<script src="/js/script.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
